{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 id="survey-title" class="display-5 text-capitalize">{{survey.title}}</h1>
    <hr class="my-4">

    <div class="card-body">
        <h5 id="question-title" class="card-title">{{question.question}}</h5>
        {% block question%}
        Put your question ui here
        {% endblock question%}
    </div>
    
    <a id= 'btn-previous' href="{% url 'survey:take_survey' survey.pk cur_index|add:'-1' %}" 
        class="btn btn-primary {% if cur_index == 1 %}disabled{% endif %}">Previous</a>
    <a id= 'btn-next' href="{% url 'survey:take_survey' survey.pk cur_index|add:1 %}"
        class="btn btn-primary {% if cur_index == questions_count %}disabled{% endif %}">Next</a>
</div>
{% endblock content%}
