{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 id="survey-title" class="display-5 text-capitalize">{{survey.title}}</h1>
    <hr class="my-4">

    <div class="card-body">
        <h5 id="question-title" class="card-title">{{question.question}}</h5>
        {% block question%}
        Put your question ui here
        {% endblock question%}
    </div>
    
    <a id= 'btn-previous' href="javascript:history.back()" 
        class="btn btn-primary {% if cur_index == 1 %}disabled{% endif %}">Previous</a>
    <a id= 'btn-next' href="{{ next_url }}" class="btn btn-primary">Next</a>
</div>

{% endblock content%}

{% block javascript %}
    {{ block.super }}
    <script src="/static/survey/survey.js"></script>
{% endblock javascript%}

